

.home-blog{
	padding:3%;
	clear:both;
	background: #faf4e8;
	.home-blog-wrapper{
		display: flex;
		flex-direction:row;
	}
	.home-blog-content{
		width:70%;
	}
	.blog-content{
		width: 100%;
	}
	.date-section{
		width:30%;
	}
	.date-wrapper{
		position:relative;
		margin:0 auto;
	}
	.numbers{
		position: absolute;
		z-index: 999;
		top: 38%;
	    bottom: 0;
	    right: 2%;
	    left: 0px;
		
		h3{
			font-size: 30px;
			text-align: center;
			font-family: 'Prata', serif;
			font-weight: 100;
			color:#fff;
			margin:0;

		}
		h4{
			font-size:12px;
			text-align: center;
			font-family: 'Prata', serif;
			font-weight: 100;
			margin:0;
			color:#fff;
		}
	}
	.shape-container{
		width:150px;
		margin:0 auto;
		img{
			margin:0 auto;
		}
	}
	.title{
		font-family: 'Cabin', sans-serif;
		color:  #61514e;
		font-size: 19.98px;
		font-weight: 700;
		line-height: 36.72px;
	}
	.content{
		font-family: 'Merriweather', serif;
		color:  #61514e;
		font-size: 17.99px;
		font-weight: 400;
		line-height: 36.72px;
	}
}



@media all and (max-width: 1500px) { 

}
@media (max-width: 1390px){
  
}
@media (max-width: 1350px){

}
@media (max-width: 1300px){


}

@media all and (max-width: 1200px) { 


}
@media all and (max-width: 1100px) { 
	
}
@media all and (max-width: 1024px) { 
	.home-blog .home-blog-wrapper {
	    flex-direction: column;
	}
	.home-blog .date-section {
	    width: 100%;
	}
	.home-blog .home-blog-content {
	    width: 100%;
	    p{
	    	text-align: center;
	    }
	}
	.home-blog .title {
	    text-align: center;
	}	

}
@media all and (max-width: 940px) { 


}

@media all and (max-width: 768px) {


}

@media all and (max-width: 690px) {
	
}

@media all and (max-width: 480px) {


}

@media all and (max-width: 320px) {

}
