.about{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	.about-right{
	width:50%;
	height:600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	.about-left{
		width:50%;
		height:600px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.about-container{
		padding:5%;
		max-width: 700px;
		margin: 0 auto;
		position: relative;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	h2{
		color:  #fff;
		font-size: 45px;
		margin:0;
	}
	.about-content{
		p{
			color:  #fff;
			font-size: 24px;
			font-weight: 400;
			line-height: 50.7px;
		}
	}
}
.about-right{
	.button-wrapper{
	    margin:0;
	    display: block;
	    border-radius: initial;
	    text-align: center;
	    text-transform: uppercase;
	    transition: all .5s ease;
	    background-color:  transparent;
	    line-height: 280%;
	    border:1px solid #fff;
	    width: 197px;
	    height: 60px;
	    padding-top: 6px;

	}
	.button:hover{
	    opacity: .7;
	}
	.button {
	    margin:0 auto;
	    display: block;
	    border-radius: initial;
	    text-align: center;
	    text-transform: uppercase;
	    transition: all .5s ease;
	    background-color:  #fff;
	    width: 183px;
	    height: 46px;
	    line-height: 330%;
	    font-family: 'Cabin', sans-serif;
	    color: #62a945;
	    font-size: 13.84px;
	}
}

@media all and (max-width: 1500px) { 
	.about .about-left, .about .about-right {
	    height: 500px;
	}
	.about .about-container {


	}
}
@media (max-width: 1390px){
  
}
@media (max-width: 1350px){

}
@media (max-width: 1300px){


}



@media all and (max-width: 1200px) { 


}
@media all and (max-width: 1100px) { 
	
}
@media all and (max-width: 1024px) { 
	.about {
		flex-direction:column;
	}
	.about .about-left, .about .about-right {
	    width: 100%;
	}
	.about h2 {
	    text-align: center;
	}
	.about .about-content p {
	    text-align: center;
	}
	.about-right .button-wrapper {
	    margin: 0 auto;
	}
}
@media all and (max-width: 940px) { 


}

@media all and (max-width: 768px) {


}

@media all and (max-width: 690px) {
	
}

@media all and (max-width: 480px) {


}

@media all and (max-width: 320px) {

}
