.contact-info{
	padding:5%;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	.phone{
		width: calc(25% - 20px);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 0 38px;
		h2{
			color:  #443a38;
			font-size: 23.99px;
			font-weight: 700;
			line-height: 50px;
			text-align: center;
		}
		h3{
			padding: 0 30px;
			color:  #443a38;
			font-size: 23.99px;
			font-weight: 700;
			line-height: 37.968px;
			text-align: center;
		}
	}
	.email{
		width: calc(25% - 20px);
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 0 38px;
		h2{
			color:  #443a38;
			font-size: 23.99px;
			font-weight: 700;
			line-height: 50px;
			text-align: center;
		}
		h3{
			padding: 0 30px;
			text-transform: uppercase;
			color:  #443a38;
			font-size: 23.99px;
			font-weight: 700;
			line-height: 37.968px;
			text-align: center;
		}

	}
}
.contact-main{
	background: #faf3e6;
	padding:5% 15%;
}




// form

.gform_wrapper .gform_heading {
	display: none;
}

.gfield_checkbox{
	display: flex;
	li{
		margin:0 30px;
	}

}
.gform_wrapper ul.gfield_checkbox li{
    width:25%;
}
.gform_wrapper .field_sublabel_below ul.gfield_checkbox li label {
    padding-left: 10px;
    padding-top: 8px;
}
.gform_wrapper .top_label .gfield_label{
	font-size: 18px !important;
	font-family: 'Cabin', sans-serif !important;
	color:#443a38 !important;
}
.gform_wrapper .field_sublabel_below ul.gfield_checkbox li label {
	font-size: 18px !important;
	font-family: 'Cabin', sans-serif !important;
	color:#443a38 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
	font-size: 14px !important;
	font-family: 'Cabin', sans-serif !important;
	color:#443a38 !important;
}
.medium .gfield_select{
	option{
		font-size: 14px !important;
		font-family: 'Cabin', sans-serif !important;
		color:#443a38!important;
	}
}
.gform_wrapper textarea.medium {
  
    font-size: 14px !important;
    font-family: 'Cabin', sans-serif !important;
    color: #443a38 !important;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
	font-size: 14px !important;
	font-family: 'Cabin', sans-serif !important;
	color: #443a38 !important;
	width: 183px !important;
	height: 46px !important;
	background:#62a945;
	padding: 13px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	cursor: pointer;
	transition: all .5s ease-in-out;
	border: 0;
	box-shadow: 0;
	line-height: 160%;

}
.gform_wrapper textarea.medium{
	font-size: 14px !important;
	font-family: 'Cabin', sans-serif !important;
	color: #443a38!important;
}
.gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium{
	font-size: 22px !important;
	font-family: 'Cabin', sans-serif !important;
	color:#443a38 !important;
	option{
		font-size: 22px !important;
		font-family: 'Cabin', sans-serif !important;
		color: #443a38 !important;	
	}
}


.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
	border-radius: 1px;
}


body .gform_wrapper .gform_body .gform_fields #field_XX_X.gfield .gfield_radio li input[type=radio] {border: 1px solid red}

body .gform_wrapper .gform_body .gform_fields #choice_1_13_1 .gfield_checkbox li input[type=checkbox] {border: 1px solid red}

body .gform_wrapper .gform_body .gform_fields #field_1_13_1.gfield .gfield_checkbox li input[type=checkbox] {border: 1px solid red}

.gform_wrapper textarea.medium {
    height: 100px;
    width: 100%;
    border: 1px solid #443a38 !important;
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	border: 1px solid #443a38 !important;
}
 .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    border-radius: 38px !important;

}


.gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium {
    color: #443a38 !important;
 
    font-size: 12px !important;
    height: 30px !important;
    background: transparent;

}

.gfield_checkbox#input_1_13 input {
	border-radius: 50%;
}
.gform_body input {
	border-radius: 0px;
}


.ginput_container_select select {
	border: 0;
	outline: 1px solid #443a38;
	background-color: white;
 }

 .gform_wrapper .top_label input.medium.datepicker{
 	width:100% !important;
 }
 .gform_wrapper .top_label .gfield_label {
     font-size: 18px !important;
     padding: 10px 0 !important;
 }

 .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
     max-width: 100% !important;
 }
 .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
     padding: 15px 4px !important;

 }

@media all and (max-width: 1500px) { 
	.gform_wrapper .top_label .gfield_label{
		font-size: 18px !important;
		padding: 3% 0;
	}
	.contact h2 {
	    font-size: 35px;
	}
	.gform_wrapper textarea.medium {
	    height: 170px !important;
	}
	.gform_wrapper {
	    margin: 0 !important;
	}
	body .gform_wrapper ul li.gfield {
	    margin-top: 5px !important;
	}
	.page-template-page-contact .main-container {
	    margin: 20px 45px !important;
	}
	.gform_wrapper ul.gfield_checkbox{
	    margin: 0 !important;
	}
	body .gform_wrapper .top_label div.ginput_container {
	    margin-top: 0 !important;
	}
}
@media all and (max-width: 1024px) { 
	.contact-info {
	    flex-direction: column;
	}
	.contact-info .phone {
	    width: 100%;
	    margin:0;
	    h3{
	    	margin:0;
	    }
	    h2{
	    	margin:0;
	    }
	}
	.contact-info .email {
	    width: 100%;
	    margin:0;
	    h3{
	    	margin:0;

	    }
	    h2{
	    	margin:0;
	    	line-height: 40px;
	    }
	}
	.page-template-page-contact .main-container {
	    margin: 100px 45px!important;
	}
	.page-template-page-contact header {
	    height: 100px;
	}
	.page-template-page-contact{
		.logo-dark {
			    width: 14%;
			    display: block;
			}
		.main-container {
			    margin: 75px 5% 5% 5%;
			}
		
		header .header-wrapper {
			top: 0;
		}
		.logo-dark {
			z-index: 999;
		}
		header .header-wrapper #menu-container {
			margin:0;
		}
	}
	.page-template-page-contact{
		.hero-small .hero-content h2 {
		    font-size: 30px;
		}
		.hero-small .hero-content h1 {
		    font-size: 40px;
		}
	}
	.hero-small {
	    height: 300px;
	}
	.contact-main {
	    padding: 5%;
	}
}
@media all and (max-width: 940px) { 
	.contact{
	    flex-direction: column;
	}
	.contact .contact-content, .contact .contact-form{
		width:100%;
	}

}

@media all and (max-width: 768px) {
	
	.contact .contact-info {
	    font-size: 12px;
	}
	.gform_wrapper .top_label .gfield_label{
		font-size: 12px !important;

	}
	.gform_wrapper .field_sublabel_below ul.gfield_checkbox li label {
		font-size: 12px !important;

	}
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		font-size: 12px !important;

	}
	.medium .gfield_select{
		option{
			font-size: 12px !important;

		}
	}
	.gform_wrapper textarea.medium {
	  
	    font-size: 12px !important;

	}
	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{

		font-size: 12px;

	}
	.gform_wrapper textarea.medium{
		font-size: 12px !important;

	}
	.gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium{
		font-size: 12px !important;
		border-radius: 0px !important;
		option{
			font-size: 12px !important;

		}
	}
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	    line-height: 1 !important;

	}
	
}

@media all and (max-width: 667px) {
	.page-template-page-contact .logo-dark {
	    width: 25%;
	}
   .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio]{
   		font-size:10px;
   }
   .gform_wrapper .field_sublabel_below ul.gfield_checkbox li label{
   		font-size: 10px!important;
   		margin-top: 5px;
   }
}

@media all and (max-width: 480px) {
	.gform_wrapper .field_sublabel_below ul.gfield_checkbox li label {
		padding:0;
	}
}

@media all and (max-width: 320px) {
    
    
}






